body {
  margin: 0;
  padding: 0;
height: 100%;  flex-direction: column;
}

/* Contenido Principal */
.ContenidoPrincipal {
  text-align: center;
  color: #C0D6DF; /* Color de texto claro */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
}

/* Login */
.FormCajaLogin {
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
}

.FormLogin {
  background-color: rgba(0, 0, 0, .5);
  width: 400px;
  margin: auto;
  padding: 2em;
  border-radius: 6px;
  color: white;
  border: 0.1em solid #C0D6DF; /* Borde claro */
  text-align: center;
}

.TextoCajas {
  margin-left: 8%;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 4%;
  color: #C0D6DF; /* Color de texto */
  text-align: left;
}

.CajaTexto {
  width: 80%;
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid #C0D6DF; /* Color del borde */
  color: #70163C; /* Color de texto */
}



.BtnRegistrar {
  width: 80%;
  text-decoration: none;
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  border: 1px solid #C0D6DF;
  font-size: 18px;
  color: white;
  background-color: rgb(91, 223, 91);; /* Verde */
  font-weight: bold;
  margin-bottom: 5%;
}

.BtnLogin {
  width: 80%;
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  border: 1px solid #C0D6DF;
  font-size: 18px;
  color: white;
  background-color: #1455B9; /* Azul */
  font-weight: bold;
  margin-bottom: 5%;
}

.NomUsuario {
  font-size: 18px;
  color: white;
  word-break: break-all;
}



.ContenedorPrincipal {
  color: #C0D6DF; /* Color claro */
  box-sizing: border-box;
  text-align: center;
}



/* Tabla */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  background-color: #404E4D; /* Fondo de tabla */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
  background-color:  #331b3b; /* Azul */
  color: white;
  font-size: 16px;
  
}

th,
td {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #C0D6DF; /* Borde claro */
}

.ContenedorTabla {
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
  width: 100%;
}

.BotonesUsuarios {
  text-align: center;
  display: inline-block;
  background: rgb(159, 91, 223);
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  border: 2px solid #C0D6DF; /* Borde claro */
  cursor: pointer;
  font-size: 16px;
}

/* Caja PopUp */
.contenedor_popup {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 400px;
  transition: all 0.2s;
  background-color: #404E4D; /* Fondo de pop-up */
}

.caja_popup2 {
  display: block;
  position: fixed; /* mejor que absolute para ocupar toda la ventana */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* asegúrate de que esté por encima de todo */
}

.descargar {
  margin-top: 1rem;
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 25px;
  background-color: rgb(91, 223, 91);
  cursor: pointer;
  padding: 1rem 2rem;

}

/*
Botones
*/
.descargar {
  margin-top: 1rem;
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 25px;
  background-color: rgb(91, 223, 91);
  cursor: pointer;
  padding: 1rem 2rem;

}